.about-page {
    #pills-tab {
        background: #078ae0;
        padding: 0 3%;

        .nav-link {
            padding: 10px;
            background-color: transparent;
            color: #fff;
        }

        .nav-link.active {
            position: relative;
            color: #fff;

            &::after {
                content: '';
                width: 90%;
                height: 4px;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background: #012298;
            }
        }

    }

    .tab-content {
        .tab-item {
            .title-tab {
                margin: 30px 0;
                h4 {
                    color: #078ae0;
                    border-bottom: 2px solid #078ae0;
                }

                .tb-icon {
                    background: #078ae0;
                    display: inline-block;
                    margin-right: 10px;
                    padding: 5px;

                    img {
                        width: 20px;
                    }
                }
            }
            .tab-content-item{
                .post-item{
                    display: flex;
                    .post-img{
                        width: 230px;
                        height: 140px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}