.about-page {
    #pills-tab {
        background: #078ae0;
        padding: 0 5%;
        @media (max-width: 630px){

        }
        .nav-link {
            padding: 10px;
            background-color: transparent;
            color: #fff;
        }

        .nav-link.active {
            position: relative;
            color: #fff;

            &::after {
                content: '';
                width: 90%;
                height: 4px;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background: #012298;
            }
        }

    }

    .tab-content {
        padding: 30px 0;
        .tab-item {
            .title-tab {
                margin: 30px 0;
                h4 {
                    color: #078ae0;
                    border-bottom: 2px solid #078ae0;
                }

                .tb-icon {
                    background: #078ae0;
                    display: inline-block;
                    margin-right: 10px;
                    padding: 5px;

                    img {
                        width: 20px;
                    }
                }
            }
            .tab-content-item{
                .post-item{
                    display: flex;
                    margin-bottom: 35px;
                    
                    .post-img{
                        width: 230px;
                        height: 140px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                    article{
                        p{
                            overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        }
                        .see-more{
                            float: right;
                            img{width: 15px;
                                margin-right: 15px;}
                            .btn-more{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .video{
                    .thumbnail{
                        position: relative;
                        margin: 0 auto;
                        text-align: center;
                        .img-video-lg {
                            width: 80%;
                            height:400px;
                            object-fit: cover;
                        }
                        .icon-video{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
                
            }
        }
    }
}