.footer-area{
    background-color:#00306a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 600;
    .app-ico{
        margin-bottom: 20px;
        img{width:90px;}
    }
    .mt30{margin-top: 30px;}
    .footer-top{
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        border-bottom: 1px solid #d8e0eb;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        .footer-logo{
            width:150px;
            margin-right: 60px;
        }
        .icon{margin-left: 20px;}
        .btn-red{
            margin-left: auto;
            font-weight: bold;
            font-size: 14px;
        }
        .footer-social{
            display:flex;align-items:center;
            p{margin-bottom: 0;}
        }
    }
   
    .footer-pera{
       
         p{
            color:#3B4855;
            padding-right: 52px;
            @media #{$md}{
                padding-right: 0px;
            }
            @media #{$sm}{
                // padding-right: 0px;
            }
            font-size: 16px;
            margin-bottom: 31px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    h5{
        color:#ffff;
        margin-bottom: 20px;
        font-size:13px;
    }
    .footer-tittle{
        display: flex;
        align-items: center;
        h2{color:#fff;font-size: 14px;}
        .footer-logo{
            width: 110px;
            height: 100%;
            padding-right: 7px;
        }
        .footer-info{
            border-left: 1px solid #507197;
            padding-left: 10px;
       p{ line-height:0.8}

        }
        ul{
            li{
                margin-bottom: 10px;
                 a{
                    color: #ffff;
                    font-size: 12px;
                    &:hover{
                        color: #00baf2;
                        padding-left: 5px;
                    }
                   
                }
            }
        }
        p, small{
            color: #ffff;
            font-size:12px;
        }
    }
    .footer-form{
        margin-top: 40px;
        form{
            position: relative;
            input{
                width: 100%;
                height: 43px;
                padding: 10px 20px;
                border: 1px solid #dbe1e8;
                background: no-repeat;
                color: #C2C5DB;
                border-radius: 0px;
            }
            .form-icon{
                button{
                    border: 0;
                    cursor: pointer;
                    padding: 15px 22px;
                    background: $theme-color;
                    line-height: 1;
                    width: 100%;
                    display: block;
                    margin-top: 13px;
                    border-radius: 0;
                }
            }
        }
    }
    .info.error {
        color:  $theme-color;
    }
    .footer-social-bottom{display:none;padding-bottom: 15px;}
}

//copy Right 
.footer-bottom-area {
    background: #8298af;
    .footer-border{
        // border-top: 1px solid #d7e7fe;
        padding: 18px 0px 4px;
    }
    .footer-copy-right{
        p{
            color: #140c40;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.5;
            margin-bottom: 12px;
            margin-left: -15px;
            i{
                color: #fff;
            }
            a{
                color: #fff;
                &:hover{
                    color: $theme-color;
                }
                 
            }
        }
    }
}

// Footer SociaL
.footer-social {
        @media #{$md}{
        float: left; 
        padding-top: 10px;
        }
        @media #{$sm}{
        float: left; 
        padding-top: 10px;
        }
        @media #{$xs}{
        float: left; 
        padding-top: 10px;
        }
        & > a{
            color:  #fff;
            font-size: 14px;
            padding-left: 16px;
            & > i {
                    @include transition(.4s);
                    transform: rotateY(0deg);
                    -webkit-transform: rotateY(0deg);
                    -moz-transform: rotateY(0deg);
                    -ms-transform: rotateY(0deg);
                    -o-transform: rotateY(0deg);
                }
                // Hover
                &:hover i {
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                }
            &:hover{
                color: $theme-color;
            }
            }
}