.cart-page{
    margin-top:20px;
    padding-bottom: 40px;;
    .cart-wrap {
        padding: 40px 0;
        font-family: 'Open Sans', sans-serif;
    }
    .main-heading {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .table-cart{ 
    border-right:1px solid #6666;
    padding-right: 30px;
        table {
            width: 100%;
           
        }
        .btn-group{
            margin-top: 20px;
        }
     }
    .table-cart thead {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 5px;
    }
    .table-cart thead tr th {
        padding: 8px 0 18px;
        font-size: 13px;
    }
    .table-cart tr{
        border-bottom: 1px solid #ddd;
        td {
            padding: 20px 0 27px;
            vertical-align: middle;
        }
    }
    
    .table-cart tr td .img-product {
        width: 72px;
        float: left;
        margin-right: 31px;
        line-height: 63px;
    }
    .table-cart tr td .img-product {
        i{color:#999;margin-right: 10px;}
        img {
            width: 100%;
        }
    }
    .table-cart tr td .name-product {
        font-size: 15px;
        color: #484848;
        padding-top: 8px;
        line-height: 24px;
        width: 50%;
    }
    .table-cart tr td .quanlity {
        position: relative;
    }
    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 20px;
        height: 34px;
        background: transparent;
        text-align: center;
        font-size: 19px;
        line-height: 34px;
        color: #000;
        cursor: pointer;
        font-weight: 600;
    }
    .product-count .qtyminus {
        line-height: 32px;
    }
    .product-count .qtyminus {
        border-radius: 3px 0 0 3px; 
    }
    .product-count .qtyplus {
        border-radius: 0 3px 3px 0; 
    }
    .product-count .qty {
        width: 40px;
        text-align: center;
        border: 2px solid #d2d2d2;
    }
    .count-inlineflex {
        display: inline-flex;
        border-radius: 2px;  
    }
    .display-flex {
        display: flex;
    }
    .align-center {
        align-items: center;
    }
    input:focus {
        outline: none;
        box-shadow: none;
    }
    .cart-totals {
        h4,tr{border-bottom: 1px solid #ddd;padding-bottom: 10px;}
        table {
            width: 100%;
        }
    }
    .cart-totals table tr th,
    .cart-totals table tr td {
        width: 50%;
        padding: 3px 0;
        vertical-align: middle;
    }
    .cart-totals table tr td:last-child {
        text-align: right;
    }
    .cart-totals table tr td.subtotal, .cart-totals table tr td.price-total, .total, .price {
        font-weight: bold;
    }
    
    .cart-totals table tr.total-row td {
        padding-top: 25px;
    }
   
    .btn-cart-totals {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        a{display: block;}
    }
}
// PAYMENT
.payment-page{
    .payment-right{
        border: 1px solid #2680eb;
    padding: 15px;
    }
    .card{border:0;}
    h4{margin-bottom:20px;}
    h5{margin:20px 0;}
    .payment-select{
        label{
            display:flex;
            align-items:center;
            input{margin-right:10px;}
        }
    }
    label {
        font-weight: 700;
        &:after {
          color: #c00;
          content: " *";
          font-family: serif;
        }
    }
}